.mx-6{
margin-left: 5rem;
margin-right: 5rem;
}



.nav-link {
  position: relative;
  text-decoration: none;
  color: #000;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000; 
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


  .range-slider {
    position: relative;
    width: 100%;
    height: 40px;
  }

  .range-slider input[type=range] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    height: 6px;
    background: transparent;
  }

  .range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: auto;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    margin-top: -5px;
    border: none;
  }

  .range-slider input[type=range]::-moz-range-thumb {
    pointer-events: auto;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: none;
  }
.collection{
  background-color: aquamarine;
  width: 100vw;          
  padding: 3rem 0;       
  margin: 0;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.card {
  margin-bottom: 1.5rem;
}
.seller{
  background-color: blueviolet;
  width: 100vw;          
  padding: 3rem 0;       
  margin: 0;
}


.reviews .card {
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.reviews .card:hover {
  transform: scale(1.03);
}

.text-warning {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.text-warning i {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.card-body {
  padding-bottom: 1rem;
}

.card {
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.card-img-top {
        object-fit: cover;
        height: 200px;
}

.product-detail {
      display: none;
    }

#productDetailPage {
  display: none;
}

